<form class="my-3 mx-1" method="post" action="{{ path('stock_smartphone_delete', {'id': stock_smartphone.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stock_smartphone.id) }}">
	<button class="btn btn-danger">Delete</button>
</form>
