{% set  _marques = [
    'Samsung', 'iPhone', 'Hauwei','Redmi','RealMe','Xperia','LG','Nokia'
]%}

<div class="list-group">
	<a href="{{ path('smartphone_index', {'marque': null})}}" class="list-group-item list-group-item-action {% if choice_marque == null %}active {% endif %}">
		All
	</a>
	{% for marque in _marques %}
		<a href="{{ path('smartphone_index', {'marque': marque})}}" class="list-group-item list-group-item-action {% if choice_marque == marque %}active {% endif %} ">{{ marque }}</a>
	{% endfor %}


</div>
