<div class="list-group">
	<a href="{{ path('smartphone_index', {'marque': null})}}" class="list-group-item list-group-item-action {% if choice_marque == null %}active {% endif %}">
		All
	</a>
	{% for marque in marques %}
		<a href="{{ path('smartphone_index', {'marque': marque.name})}}" class="list-group-item list-group-item-action {% if choice_marque == marque.name %}active {% endif %} ">{{ marque.name }}</a>
	{% endfor %}
</div>
