<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Stock
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{ path('smartphone_index') }}">
					Smartphones
					<span class="sr-only"></span>
				</a>
			</li>


			<li class="nav-item active">
				<a class="nav-link" href="#">
					Accessoires
					<span class="sr-only"></span>
				</a>
			</li>

			<li class="nav-item active">
				<a class="nav-link" href="{{ path('marque_index') }}">
					Marques
					<span class="sr-only"></span>
				</a>
			</li>


			<li class="nav-item active">
				<a class="nav-link" href="#">
					Infos
					<span class="sr-only"></span>
				</a>
			</li>

		</ul>

	</div>
</nav>
